---
import ContentPage from "../../components/ContentPage.astro";
import kittiesPlan from "../../assets/kitties/kitties_plan.png"
import kittiesTeam from "../../assets/kitties/kitties_science.png"
import kittiesTv from "../../assets/kitties/kitties_tv.png"
import kittiesUnplug from "../../assets/kitties/kitties_unplug.png"
import kittiesWin from "../../assets/kitties/kitties_winner.png"
---

<ContentPage>
<article class="rules-article">
    <h2>Cómo hacer un Plan de Acción Energético</h2>
    <p>Para que leer si puedes escuchar un buen funk explicandotelo, <br> por tu afro y escucha😎👇 </p>
    <iframe src="https://suno.com/embed/2209b493-01e1-44ca-b13c-6127b59ee03d" 
    width="100%" 
 height="160" frameborder="0" allow="autoplay; encrypted-media; fullscreen" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
 
<!-- eslint-disable-next-line -->
<a href="https://suno.com/song/2209b493-01e1-44ca-b13c-6127b59ee03d">Listen on Suno
</a>
</iframe>
<h3>
    Ahora veamoslo con detalles
</h3>
<img src={kittiesPlan.src} alt="gatitos planificando">
<p>
    El  <bold>Plan de Acción Energético</bold> es la acción fundamental donde las acciones de tu establecimiento educacional elabora, planifica y coordina las acciones de eficiencia energética en tu colegio.
    Parece complicado pero para eso hemos elaborado herramientas online para ayudar su elaboración <a class="innerlink" href="https://tinyurl.com/ec-buenaspractica" target="_blank" rel="noopener noreferrer">haciendo click aquí</a>.  
</p>
<p>
 El plan PBP tiene 3 capítulos fundamentales de desarrollo:   
</p>
<h3>
    Capitulo 1 del plan: Team Escolar
</h3>
<img src={kittiesTeam.src} alt="gatitos organizando equipo">
<p>
    Se definen los el equipo escolar de voluntarios que quieren participar; 
    es aquí donde define quienes son, cuáles son sus funciones y la responsabilidades del equipo. Cada componente del equipo
    tiene una función importantisima y que <bold>deben desarrollar o potenciar sus habilidades</bold> para que el plan
    tenga su máxima potencialidad. 
</p>
<p class="quote highlights">
    <span style="color:rgb(238, 159, 172)">El Coordinador🧠</span><br>
    <span style="color:white">Habilidad: Estrategia</span> <br>
    Es el encargado de coordinar todas las acciones del equipo escolar, este es un cargo que generalmente toma el profesor guía, pero también puede ser un estudiantes con habilidades de coordinar equipos. Tiene que ser una persona que sepa coordinar pero también escuchar las opiniones de todos.
</p>
<p class="quote highlights">
    <span style="color:rgb(100, 100, 241)">Examinadores👁️</span><br>
    <span style="color:white">Habilidad: Perspicacia</span> <br>
Son los encargados que inspeccionar y evaluar si las acciones se están implementando  de forma adecuada, y también presentan reportes al equipo coordinador para evaluar acciones de mejora. Generalmente en mejorar la promoción, materiales, obras de teatro, comunicaciones.
</p>
<p class="quote highlights">
    <span style="color:rgb(29, 211, 202)">Promotores📢</span><br>
    <span style="color:white">Habilidad: Negociación</span> <br>
Son los encargados de difundir, comunicar y educar el buen uso de la energía a sus compañeros de clases. Pueden usar cualquier medio de difusión, ya sea radios, TV, volates, talleres educativos, obras de teatro, corpóreos, etc. No hay límites, sólo tu imaginación.
</p>
<p class="quote highlights">
    <span style="color:rgb(223, 236, 43)">Ejecutores👷‍♂️</span><br>
    <span style="color:white">Habilidad: Persitencia</span> <br>
Son estudiantes o profesores que tienen una labor específica de ahorro energético, es el encargado de ejecutar una medida propuesta, y el primer responsable de velar que se elabora el plan de ahorro. Puede haber un encargado de luminarias por zona, otro de equipos escolares, otro del aire acondicionado, etc etc.
</p>

<h3>
    Capitulo 2 del plan: Unidades de consumo 
</h3>
<img src={kittiesTv.src} alt="gatitos identificando">
<p>
    Se definen cuales con los puntos de consumo crítico para éxito del plan, 
    donde se hace un levantamiento de donde está , qué tipo de artefacto consumidor es, 
    y que tipo de energético consume (gas/electricidad/diesel). Esto es importante 
    porque define generalmente las acciones a realizar. En esta sección se levanta datos cómo:
</p>
<ul>
    <li>tipo de artefacto energético 🏍️💻🖥️🖨️🖲️</li>
    <li>tipo de energía; electricidad⚡, gasolina⛽, leña🪵, etc.</li>
    <li>tiempo y frecuencia de uso🕑📅</li>
    <li>ubicación de la unidad de consumo📍</li>
</ul>

<h3>
    Capitulo 3 del plan: Medidas de eficiencia energética
</h3>
<img src={kittiesUnplug.src} alt="gatitos ahorrando">
<p>
    En esta sección de plan se definen las acciones concretas a realizar, y los 
    responsables de cada acción. Este es el corazón del concurso, y definen a los ganadores 
    y su lugar en el podio. El Plan de buenas prácticas tiene que definirlas claramente y pueden se mejoradas en el tiempo, para hacer la acción más efectiva para el ahorro energético.
</p>
<h4>Tips para ganadores</h4>
<img src={kittiesWin.src} alt="gatitos ganadores"/>
<p>
    Históricamente los participantes de #EC han sido tremendos competidores, generado enormes <bold>ahorros energéticos</bold>. De ellos podemos sacar 
    algunas lecciones importantes. Si buscas llegar a la cima del concurso, no te olvides considerar 
    tener en mete las siguientes metas:
</p>
<section class="podium">
    <div>
        
        <h4>30% de ahorro⭐</h4>
        <p>Ya eres un colegio <bold>competitivo</bold> y hay algunas posibilidades de llegar al podio</p>
                </div>
                <div>

                    <h4>34% de ahorro⭐⭐</h4>
                    <p>Aumentan tus posibilidades de estar <bold>en los primeros 3 lugares</bold>, hay que seguir ahorrando</p>
                </div>
                <div>
                    <h4>38% de ahorro⭐⭐⭐</h4>
                    <p>
                        Ya tu colegio es un peso pesado de ahorro y está listo para disputar el <bold>1er Lugar</bold>🏆
                    </p>
                    
                </div>
            </section>
            <br>
            <p>
                Ya tienes todas las herramientas para ganar. Éxito y nos vemos pronto.
            </p>
            <br>
            <br>
</article>
</ContentPage>