---
import kittiesPlan from "../../assets/kitties/kitties_plan.png";
import kittiesTeam from "../../assets/kitties/kitties_science.png";
import kittiesTv from "../../assets/kitties/kitties_tv.png";
import kittiesUnplug from "../../assets/kitties/kitties_unplug.png";
import kittiesWin from "../../assets/kitties/kitties_winner.png";
import ContentPage from "../../components/ContentPage.astro";
---

<ContentPage hasPlayer={false}>
<article class="rules-article">
    <h2>Cómo hacer un Plan de Acción Energético</h2>
    <p>Para que leer si puedes escuchar un <bold>buen funk</bold> explicándotelo, <br> ponte tu afro, lentes de sol, y escucha😎👇 </p>
    <iframe src="https://suno.com/embed/2209b493-01e1-44ca-b13c-6127b59ee03d" 
    width="100%" 
 height="160" frameborder="0" allow="autoplay; encrypted-media; fullscreen" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>
<h3>
    Ahora veamos con detalles
</h3>
<img src={kittiesPlan.src} alt="gatitos planificando">
<p>
    El  <bold>Plan de Acción Energético</bold> es la estrategia base donde las acciones de tu establecimiento educacional elabora, planifica y coordina las medidas de eficiencia energética en tu colegio.
    Parece complicado pero para eso hemos elaborado herramientas online para ayudar su elaboración paso a paso <a class="innerlink" href="https://tinyurl.com/ec-buenaspractica" target="_blank" rel="noopener noreferrer">haciendo click aquí</a>.  
</p>

<p>
 El Plan de Acción tiene 3 capítulos fundamentales de desarrollo:   
</p>
<h3>
    Capitulo 1 del plan: Team Escolar
</h3>
<img src={kittiesTeam.src} alt="gatitos organizando equipo">
<p>
    Se definen los el equipo escolar de voluntarios que quieren participar; 
    es aquí donde define quienes son, cuáles son sus funciones y la responsabilidades del equipo. Cada componente del equipo
    tiene una función importantísima y que <bold>deben desarrollar o potenciar sus habilidades</bold> para que el plan
    tenga su máxima potencialidad. 
</p>
<p class="quote highlights">
    <span style="color:rgb(238, 159, 172)">El Coordinador🧠</span><br>
    <span style="color:white">Habilidad: Estrategia</span> <br>
    Es el encargado de coordinar todas las acciones del equipo escolar, este es un cargo que generalmente toma el profesor guía, pero también puede ser un estudiantes con habilidades de coordinar equipos. Tiene que ser una persona que sepa coordinar pero también escuchar las opiniones de todos.
</p>
<p class="quote highlights">
    <span style="color:rgb(100, 100, 241)">Aurores👁️</span><br>
    <span style="color:white">Habilidad: Perspicacia</span> <br>
Son los encargados que inspeccionar y evaluar si las acciones se están implementando  de forma adecuada, y también presentan reportes al equipo coordinador para evaluar acciones de mejora. Generalmente en mejorar la promoción, materiales, obras de teatro, comunicaciones.
</p>
<p class="quote highlights">
    <span style="color:rgb(29, 211, 202)">Promotores📢</span><br>
    <span style="color:white">Habilidad: Negociación</span> <br>
Son los encargados de difundir, comunicar y educar el buen uso de la energía a sus compañeros de clases. 
Pueden usar cualquier medio de difusión, ya sea radios, TV, volates, talleres educativos, 
obras de teatro, corpóreos, etc. No hay límites, sólo tu imaginación.
</p>
<p class="quote highlights">
    <span style="color:rgb(223, 236, 43)">Ejecutores👷‍♂️</span><br>
    <span style="color:white">Habilidad: Persitencia</span> <br>
Son estudiantes o profesores que tienen una labor específica de ahorro energético, 
es el encargado de ejecutar una medida propuesta, y el primer responsable de velar 
que se elabora el plan de ahorro. Puede haber un encargado de luminarias por zona, 
otro de equipos escolares, otro del aire acondicionado, etc etc.
</p>

<h3>
    Capitulo 2 del plan: Diagnóstico Energético
</h3>
<img src={kittiesTv.src} alt="gatitos identificando">
<p>
    En esta etapa se define de forma crítica éxito del plan, ya que es donde se realiza la caracterización
    energética del colegio o liceo. Es en este levantamiento se localizan donde están los consumos , qué tipo de artefacto consumidor es, 
    para qué sirve, y el tipo de energético consume ya sea; gas , electricidad, leña o combustibles.<br>
    En esta sección se levanta datos cómo:
</p>
<ul>
    <li>tipo de artefacto energético 🏍️💻🖥️🖨️🖲️</li>
    <li>tipo de energía; electricidad⚡, gasolina⛽, leña🪵, etc.</li>
    <li>qué tiempo y frecuencia de uso tiene 🕑📅</li>
    <li>ubicación de la unidad de consumo📍</li>
</ul>
<p>
    También tienes que priorizar, identificando cuales podrías ser las unidades de <bold>uso significativo de enegía</bold>. 
    <br>¿Cómo identificarlas?<br> R: generalmente estas unidades, están en gran en cantidad, y tienen un uso frecuentemente durante un día;
    <i>
    Un ejemplo; <b>las ampolletas o tubos fluorecentes</b>,
    tu colegio tiene cientos en cantidad, y se usan por muchas horas en la noche y a veces también <b>en el día</b>.
    </i>
</p><br>
<p>
    Ya a esta altura tienes que detectar las <bold>ineficiencias energéticas</bold>, de tu entorno.
    Te darás cuenta que el causante son en su mayoría por; usos innecesarios, 
    malos hábitos de consumo, perdidas energéticas, entre otras cosas.
    Está en tus major el mejorar este problema No olvides fijarte bien estos tópicos: 
</p>
<br>
<section class="podium">
    <div>
        <h4>
            💡El uso de la luz
        </h4>
        <p>
            Si ves luces encendidas en salas vacías o durante el recreo, es un mal uso de la energía. 
            Asegurate que se aproveche la luz del sol abriendo cortinas 
            y apaga siempre al salir para ayudar a cuidar el uso energético.
        </p>
    </div>
    <div>
        <h4>
            ❄️Aire acondicionado
        </h4>
        <p>
            Si el aire acondicionado están encendidos con ventanas o puertas abiertas, se pierde energía. 
            Mantener los espacios cerrados ayuda a que funcionen mejor y evita gastar electricidad sin necesidad en el colegio.
        </p>
    </div>
    <div>
        <h4>
            🦇Consumo vampiro
        </h4>
        <p>
            Los aparatos enchufados que no se usan igual consumen energía, como cargadores o 
            computadores apagados. Si ves muchos enchufes conectados sin uso, 
            están “chupando energía” sin razón. Desconectarlos ayuda a ahorrar energía todos los días.
        </p>
    </div>
    <div>
        <h4>
            💻Uso de artefactos electrónicos
        </h4>
        <p>
            Si los computadores, proyectores o televisores siguen encendidos cuando nadie los usa, es un desperdicio. 
            Apagarlos cuando termina la clase ayuda a reducir el consumo y también a que los equipos duren más tiempo funcionando bien.
        </p>
    </div>
    <div>
        <h4>
            🚰Agua caliente y otros equipos
        </h4>
        <p>
            Si se usa agua caliente sin necesidad o hervidores muchas veces al día, 
            se gasta energía extra. Fijarse en usar solo lo necesario ayuda 
            a que el colegio sea más eficiente.
        </p>
    </div>
    <div>
        <h4>
            🔥Calefacción
        </h4>
        <p>
            Si hace mucho calor dentro de la sala y aun así la calefacción sigue prendida, 
            se está usando mal la energía. Es mejor mantener una temperatura agradable 
            y usar abrigo antes de gastar energía de más innecesariamente.
        </p>
    </div>
</section>
<p>
    Estas son algunas acciones que puedes usar, pero hay <bold>muchas acciones más</bold> 
    que puedes proponer, sólo tienes que observar, analizar y evaluar bien tus medidas de ahorro energético.
</p>
<p class="quote highlights">
    <b>Precaución:</b> Nunca manipules equipos directamente. Siempre pide ayuda a tu profesor guía, o a algún adulto.
</p>

<h3>
    Capitulo 3 del plan: Medidas de eficiencia energética
</h3>
<img src={kittiesUnplug.src} alt="gatitos ahorrando">
<p>
    En esta etapa de plan se <bold>definen e implementan</bold> las acciones concretas a realizar, y los 
    responsables de cada acción. Este es el corazón del concurso, y definen a los ganadores 
    y su lugar en el podio. El Plan de buenas prácticas tiene que definirlas claramente y pueden se mejoradas en el tiempo, para hacer la acción más efectiva para el ahorro energético.
</p>
<h4>Tips para ganadores</h4>
<img src={kittiesWin.src} alt="gatitos ganadores"/>
<p>
    Históricamente los participantes de #EC han sido tremendos competidores, generado enormes <bold>ahorros energéticos</bold> al interior de los colegios. De ellos podemos sacar 
    algunas lecciones importantes; si buscas llegar a la cima del concurso, no te olvides considerar 
    tener en mente las siguientes metas:
</p>
<section class="podium">
    <div>
        
        <h4>25% de ahorro⭐</h4>
        <p>Ya eres un colegio <bold>competitivo</bold> y hay algunas posibilidades de llegar al podio</p>
                </div>
        <div>

            <h4>30% de ahorro⭐⭐</h4>
            <p>Aumentan tus posibilidades de estar <bold>en los primeros 3 lugares</bold>. Pero puedes dar más, hay que seguir ahorrando</p>
        </div>
        <div>

            <h4>35% de ahorro⭐⭐⭐</h4>
            <p>
                Ya tu colegio es un peso pesado de ahorro y está listo para disputar el <bold>1er Lugar</bold>🏆.
            </p>
            
        </div>
            </section>
            <br>
            <p>
                Ya tienes todas las herramientas para ganar. Éxito y nos vemos pronto.
            </p>
            <br>
            <br>
</article>
</ContentPage>